@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
a {
  text-decoration: none;
  color: #000;
}
a:hover {
  color: #000;
}

ul {
  list-style: none;
  padding: 0;
}

* {
  font-family: "Merriweather Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
}

header {
  max-width: 1100px;
  margin: 0 auto;
  height: 95px;
}

.header_nav a {
  padding: 30px 10px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}
footer {
  min-height: 395px;
  background-color: #262626;
  margin-top: 50px;
}
footer li a {
  color: #52D681;
  transition: all 0.3s;
}
footer li a:hover {
  color: #f8f8f8;
}

.footer_container {
  min-height: 315px;
  max-width: 1100px;
  margin: 0 auto;
}

.footer_navs {
  width: 100%;
}

.footer_content_text {
  max-width: 350px;
}

.footer_linknav {
  max-width: 145px;
}

.footer_worknav {
  max-width: 145px;
}

.footer_form {
  max-width: 335px;
}
.footer_form input {
  padding: 10px 22px;
  width: 235px;
  border-radius: 5px;
}
.footer_form button {
  margin-top: 5px;
  height: 55px;
  width: 85px;
  padding: 0 20px;
  background-color: #52D681;
  color: white;
  font-weight: bold;
  border-radius: 5px;
}

.footer_copyright {
  height: 85px;
  background-color: #1a1a1a;
  font-size: 11px;
}

.footer_copyright_container {
  color: #868686;
  width: 1100px;
  margin: 0 auto;
}

#carouselExampleIndicators {
  max-width: 1100px;
  margin: 0 auto;
}

.carousel-control-prev {
  left: 35px;
  width: 50px;
  height: 50px;
  top: calc(50% - 50px);
  background-color: black;
  opacity: 0.8;
  border-radius: 5px;
}

.carousel-control-next {
  right: 35px;
  width: 50px;
  height: 50px;
  top: calc(50% - 50px);
  background-color: black;
  opacity: 0.8;
  border-radius: 5px;
}

.slick_box, .news_testimonials, .arcitec_plans {
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 100px;
}

.slick_item {
  width: 345px;
  margin: 0 auto;
  padding: 0 20px;
  border: 0;
}

.carousel-indicators {
  gap: 8px;
}

.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.news {
  max-width: 540px;
}

.testimonials {
  max-width: 425px;
}

.arcitec_plans_card_box {
  max-width: 315px;
}

@media screen and (max-width: 768px) {
  .carousel-control-prev, .carousel-control-next {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */