@{
    ViewData["Title"] = "Home Page";
}
@using CRUD_pactice_1.ViewModels
@model HomeViewModel
 <!-- Slider start -->
    <div id="carouselExampleIndicators" class="carousel slide px-3" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://demos.freehtml5.co/beryllium/images/slider_3.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://demos.freehtml5.co/beryllium/images/slider_3.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://demos.freehtml5.co/beryllium/images/slider_3.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
  <!-- Slider end -->
  <!-- work start -->
  <section class="work text-center mt-5 px-3">
    <h3 class="h1">Work</h3>
    <p class="w-50 mx-auto h5 text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus placerat enim et urna sagittis, rhoncus euismod erat tincidunt. Donec tincidunt volutpat erat.</p>
  </section>
  <!-- work end -->
  <!-- Slick start -->
  <div class="slick_box">
    @foreach (var card in @Model.Cards)
   {
        <div class="slick_item d-flex flex-column align-items-start">
          <img style="aspect-ratio:41/34 ;width: 100%;" src="@card.Url" alt="card-foto">
          <h3>@card.Name</h3>
          <p>@card.Title</p>
       </div>
   }
  </div>
  <!-- Slick end -->
  <!-- news && testimonials start -->
  <section class="news_testimonials d-flex flex-column flex-md-row justify-content-between px-3">
    <!-- news part start -->
    <div class="news">
      <h3>NEWS</h3>
      <div class="news_card">
        <div class="news_card_date">SEPTEMBER 10, 2016</div>
        <div class="news_card_title text-success h5 my-3">Manila Bridge Re-construction</div>
        <div class="news_card_content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus placerat enim et urna sagittis, rhoncus euismod...</div>
      </div>
      <div class="news_card">
        <div class="news_card_date">SEPTEMBER 10, 2016</div>
        <div class="news_card_title text-success h5 my-3">Manila Bridge Re-construction</div>
        <div class="news_card_content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus placerat enim et urna sagittis, rhoncus euismod...</div>
      </div>
      <div class="news_card">
        <div class="news_card_date">SEPTEMBER 10, 2016</div>
        <div class="news_card_title text-success h5 my-3">Manila Bridge Re-construction</div>
        <div class="news_card_content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus placerat enim et urna sagittis, rhoncus euismod...</div>
      </div>
      <div class="btn bg-success my-4 px-3"> MORE NEWS</div>
    </div>
    <!-- news part end -->
    <!-- testimonials part start -->
    <div class="testimonials">
      <h3>Testimonials</h3>
      <div class="testimonials_card my-3">
        <div class="testimonials_card_content">
          “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus placerat enim et urna sagittis, rhoncus euismod erat tincidunt. Donec tincidunt volutpat erat.“
        </div>
        <div class="testimonials_card_tail text-muted">
          — John Doe Dueller
        </div>
      </div>
      <div class="testimonials_card my-3">
        <div class="testimonials_card_content">
          “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus placerat enim et urna sagittis, rhoncus euismod erat tincidunt. Donec tincidunt volutpat erat.“
        </div>
        <div class="testimonials_card_tail text-muted">
          — John Doe Dueller
        </div>
      </div>
    </div>
    <!-- testimonials part start -->
  </section>
  <!-- news && testimonials end -->
  <!-- arcitec_plans start -->
  <section class="arcitec_plans d-flex flex-column flex-md-row px-3 justify-content-between">
    <div class="arcitec_plans_card d-flex ">
      <div class="arcitec_plans_card_icon">
        <img src="" alt="">
      </div>
      <div class="arcitec_plans_card_box">
        <div class="arcitec_plans_card_box_title fw-bold">ARCHITECT</div>
        <div class="arcitec_plans_card_box_content">Lorem ipsum dolor sit ameteista, consectetur adipiscing is not elitistaris.</div>
        <div class="arcitec_plans_card_box_more text-success my-2">LEARN MORE</div>
      </div>
    </div>
    <div class="arcitec_plans_card d-flex">
      <div class="arcitec_plans_card_icon">
        <img src="" alt="">
      </div>
      <div class="arcitec_plans_card_box">
        <div class="arcitec_plans_card_box_title fw-bold">PLANNING</div>
        <div class="arcitec_plans_card_box_content">Lorem ipsum dolor sit ameteista, consectetur adipiscing is not elitistaris.</div>
        <div class="arcitec_plans_card_box_more text-success my-2">PARKS & EVENTS</div>
      </div>
    </div>
    <div class="arcitec_plans_card d-flex">
      <div class="arcitec_plans_card_icon">
        <img src="" alt="">
      </div>
      <div class="arcitec_plans_card_box">
        <div class="arcitec_plans_card_box_title fw-bold">ARCHITECT</div>
        <div class="arcitec_plans_card_box_content">Lorem ipsum dolor sit ameteista, consectetur adipiscing is not elitistaris.</div>
        <div class="arcitec_plans_card_box_more text-success my-2">LEARN MORE</div>
      </div>
    </div>
  </section>
  <!-- arcitec_plans end -->